<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>computer-database</display-name>
  
  <servlet>
  	<servlet-name>PageServlet</servlet-name>
  	<servlet-class>com.excilys.computerdatabase.servlets.PageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddComputerServlet</servlet-name>
  	<servlet-class>com.excilys.computerdatabase.servlets.AddComputerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditComputerServlet</servlet-name>
  	<servlet-class>com.excilys.computerdatabase.servlets.EditComputerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PageServlet</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddComputerServlet</servlet-name>
  	<url-pattern>/computer/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditComputerServlet</servlet-name>
  	<url-pattern>/computer/edit</url-pattern>
  </servlet-mapping>
  
</web-app>